.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card {
    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);

            &:last-child {
                border-bottom: 0;
            }

            &:first-child {

                &:hover{
                    background-color: unset;
                    cursor: unset;
                }
            }

            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 500;
            text-align: start;

            &:first-child {
                padding-left: 16px;
            }
        }
    }
}